[core]
    editor = vim
[push]
    default = simple
[alias]
    ci      = commit
    cia     = commit --amend
    co      = checkout
    br      = branch
    hist    = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
