[alias]
    br      = branch
    ci      = commit
    cia     = commit --amend
    co      = checkout
    cp      = cherry-pick
    dl      = log -p --ext-diff
    ds      = show --ext-diff
    hist    = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    lol     = log --abbrev-commit --decorate --graph --pretty=oneline
    lola    = log --abbrev-commit --all --decorate --graph --pretty=oneline
    pr      = pull --rebase
    rb      = rebase
    rbi     = rebase --interactive
[core]
    editor = vim
[diff]
    external = difft
[merge]
    conflictStyle = "diff3"
[merge "mergiraf"]
    name = mergiraf
    driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L
[push]
    default = simple
[user]
    name = Guzman
    email = guzman@guzman.fi

