[core]
    editor = vim
[push]
    default = simple
[alias]
    ci      = commit
    cia     = commit --amend
    co      = checkout
    cp      = cherry-pick
    br      = branch
    hist    = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[user]
    email = guzman@guzman.fi
    name = Guzman
